
<div id="wrapper">
  <%= render 'home/main_menu' %>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <p id="notice"><%= notice %></p>

          <h1>Groups</h1>
          <p class="info-content">
            This is a list of all groups and leaders assigned to them.
          </p>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Leader</th>
                <th colspan="3">Actions
                <%= link_to new_group_path, class: "group-new" do %>
                  <span class="glyphicon glyphicon-plus"></span>Add Group
                <% end %>
              </tr>
            </thead>

            <tbody>
              <% @groups.each do |group| %>
              <tr>
                <td><%= group.name %></td>
                <td><%= group.users.first.username %></td>
                <td>
                  <%= link_to group do %>
                    <span class="glyphicon glyphicon-folder-open"></span>
                  <% end %>
                </td>
                <td><%= link_to edit_group_path(group) do %>
                  <span class="glyphicon glyphicon-pencil"></span>
                  <% end %>
                </td>
                <td>
                  <%= link_to group, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <span class="glyphicon glyphicon-trash"></span>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
