<% if user_signed_in? %>
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <b>
                <a href="#">
                  BS Leaders
                </a>
              </b>
          </li>
          <li>
              <%= link_to "Reports", reports_path %>
          </li>
          <li>
            <%= link_to "Archives", archives_path %>
          </li>
          <li>
            <%= link_to "Members", members_path %>
          </li>
          <% if can? :create, Group %>
            <li>
              <%= link_to "Groups", groups_path %>
            </li>
          <% end %>
          <li>
            <%= link_to "Broadcast", broadcasts_path %>
          </li>
            <% if current_user.role.role_name == "Admin" %>
              <li>
                <%= link_to "Group Leaders", users_path %>
              </li>
            <% else %>
              <li>
                <%= link_to current_user.group.name, "/groups/#{current_user.group.id}" %>
              </li>
            <% end %>
          <li>
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
          </li>
      </ul>
  </div>
<% end %>
