<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @broadcast.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @broadcast.content %>
</p>

<%= link_to 'Edit', edit_broadcast_path(@broadcast) %> |
<%= link_to 'Back', broadcasts_path %>
