<p id="notice"><%= notice %></p>

<p>
  <strong>Role name:</strong>
  <%= @role.role_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @role.description %>
</p>

% if can? :update, @role %>
  <td><%= link_to 'Edit', edit_user_path(@role) %></td>
<% end %>
|
<%= link_to 'Back', roles_path %>
