#wrapper
  = render 'home/main_menu'
  #page-content-wrapper
    .container-fluid
      .row
        .col-lg-12
          %p#notice= notice
          %div
            %strong Title:
            %br/
            = @archive.title
          %div
            %strong Description:
            %br/
            = @archive.description
          - if @archive.documents.any?
            %h4
              %b
                Attached Books
            - @archive.documents.each_with_index do |document, index|
              %h5
                %b= link_to "#{index + 1} - #{document.book_file_name}", document.book.url
          .btn-group{"aria-label" => "...", :role => "group"}
            - if can? :update, @archive
              = link_to 'Edit', edit_archive_path(@archive), class: "btn btn-warning"
            = link_to 'Back', archives_path, class: "btn btn-success"
