%p#notice= notice
%h1 Harambees
%table
  %thead
    %tr
      %th Description
      %th Target amount
      %th{:colspan => "3"}
  %tbody
    - @harambees.each do |harambee|
      %tr
        %td= harambee.description
        %td= harambee.target_amount
        %td= link_to 'Show', harambee
        %td= link_to 'Edit', edit_harambee_path(harambee)
        %td= link_to 'Destroy', harambee, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Harambee', new_harambee_path
