!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Leader Groups
    = csrf_meta_tags
    %link{:href => "https://fonts.googleapis.com/css?family=Poiret+One|Raleway", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = js add_gritter(flash[:notice], title: "Notice", sticky: false)
    = yield
