<!DOCTYPE html>
<html>
  <head>
    <title>Leader Groups</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= js add_gritter(flash[:notice], title: "Notice", sticky: false) %>
    <%= yield %>
  </body>
</html>
